<div class="wrapper fadeInDown">
    <div id="formContent" >
    <h2 class="active">OTP Verification</h2>
      <!-- Tabs Titles -->
        <br><br>
      <!-- Login Form -->
      <form >
          <div class="container">
              <div class="row">
                <div class="col-lg-3">
                    <input type="tel" maxlength="1" class="fadeIn second" [(ngModel)]="x1" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-lg-3">
                    <input type="tel" maxlength="1" class="fadeIn third" [(ngModel)]="x2" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-lg-3">
                    <input type="tel" maxlength="1" class="fadeIn second" [(ngModel)]="x3" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-lg-3">
                    <input type="tel" maxlength="1" class="fadeIn third" [(ngModel)]="x4" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-lg-12">
                    <br>
                    <input type="submit" class="fadeIn fourth" value="Verificate"  (click)="validateOTP()">
                </div>
              </div>
          </div>

        <div class="alert alert-danger" role="alert" *ngIf="validasiData">
            {{message}}
        </div>
    </form>
      
      <!-- Remind Passowrd -->
      <div id="formFooter">
        
      </div>
  
    </div>
</div>

<div class="wrapper fadeInDown" >
    <div id="formContent" >
    <h2 class="active">
        Timers 00:<span>{{timer}}</span>
    </h2>
      <!-- Tabs Titles -->
        <br><br>
      <!-- Login Form -->
      <form >
          <div class="container">
              <div class="row">
                <div class="col-lg-12">
                    <input type="text" required class="fadeIn second" [(ngModel)]="y1" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-lg-12">
                    <br>
                    <input type="submit" class="fadeIn fourth" value="Request New Token" (click)="tokenGenerate()" >
                </div>
              </div>
          </div>

    </form>
      
      <!-- Remind Passowrd -->
      <div id="formFooter">
        
      </div>
  
    </div>
</div>





