

<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{{profilePhotoUrl}}"
              alt="Los Angeles" width="500" height="500">
            <div class="carousel-caption">
              <h3>Anggap Photo Profile</h3>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)"
      [class.hovering]="isHovering">


      <h3>AngularFire Drop Zone</h3>
      <p>Drag and Drop a File</p>
    </div>

    <h3 class="title-center">Uploads</h3>

    <div *ngFor="let file of files">
      <upload-task [file]="file" [phoneNumber]="phoneNumber"></upload-task>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-3">
        <div class="gallery" *ngFor="let image of url">
          <a target="_blank" (click)="changePhotoProfile($event)">
            <img src="{{image}}" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Click This Photo to Change Photo Profile</div>
        </div>
      </div>
    </div>
  </div>
</div>